# .env.example
# --- MODO OFFLINE ---
OFFLINE_MODE=false # Establece en true para usar valores locales en lugar de AWS SSM

# --- CONFIGURACIÓN BASE DE DATOS (SSM PATHS) ---
SSM_DB_NAME=/your/db/name
SSM_DB_USERNAME=/your/db/username
SSM_DB_PASSWORD=/your/db/password
SSM_DB_HOST=/your/db/host
SSM_DB_PORT=/your/db/port
SSM_DB_TYPE=/your/db/type

# --- OVERRIDES LOCALES (Para OFFLINE_MODE=true) ---
# Se calculan eliminando los slashes y convirtiendo a MAYÚSCULAS
# Ejemplo: /your/db/name -> YOUR_DB_NAME
YOUR_DB_NAME=crm_db
YOUR_DB_USERNAME=root
YOUR_DB_PASSWORD=password
YOUR_DB_HOST=localhost
YOUR_DB_PORT=3306
YOUR_DB_TYPE=mysql

# --- OTROS SERVICIOS AWS ---
S3_BUCKET_LOGS=/your/bucket/logs
S3_BUCKET_BILL=/your/bucket/bills
SSM_KMS_KEY_ID=/your/kms/key_id
SSM_KMS_COGNITO_CLIENT_SECRET=/congnito/client/secret

SSM_COGNITO_USER_POOL_ID=/your/cognito/user_pool_id
SSM_COGNITO_CLIENT_ID=/your/cognito/client_id

SSM_REDIS_ENDPOINT=/your/redis/endpoint
SSM_REDIS_ENDPOINT_LOCAL=/your/redis/local/endpoint

# --- GENERAL ---
NODE_ENV=development
APP_ENV=dev
PORT=8000
AWS_REGION=us-east-1
